<div class="col-3 aside">
<!--  -->
<div class="corona-update">
  <h4>COVID-19 Update</h4>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="d-block w-100">
        <h2 class="small-heading">Total Confirmed</h2>
        <h5 class="data-corona"  ><%=data.cases%></h5>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-block w-100">
        <h2 class="small-heading">Total Recovered</h2>
        <h5 class="data-corona" ><%=data.recovered%></h5>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-block w-100">
        <h2 class="small-heading">Total Death</h2>
        <h5 class="data-corona"><%=data.deaths%></h5>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon nxt-btn" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon nxt-btn" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</div>
<div class="market-today">
  <h4>Market Today</h4>
  <div id="carouselExampleControls-2" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="d-block w-100">
        <h2 class="small-heading">NIFTY</h2>
        <h5 class="data-corona"><%=nifty.pricecurrent%></h5>
        <h6 class="per-change">(<%=nifty.pricepercentchange%>%)</h6>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-block w-100">
        <h2 class="small-heading">SENSEX</h2>
        <h5 class="data-corona"><%=sensex.pricecurrent%></h5>
        <h6 class="per-change">(<%=sensex.pricepercentchange%>%)</h6>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls-2" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon nxt-btn" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next " href="#carouselExampleControls-2" role="button" data-slide="next">
  <span class="carousel-control-next-icon nxt-btn" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</div>
<div class="subscribe">
  <h4 class="sub-form-heading">Subscribe Here   <i class="fas fa-angle-down"></i></h4>
  <!-- <form class="email-box"action="index.html" method="post">
    <input type="email" name="email" class="form-control sub-control" placeholder="email">
    <button type="button" class="btn btn-secondary btn-sm btn-lg" name="button">subscribe</button>
  </form> -->
  <form class="email-box">
    <div class="form-group">
      <label for="exampleInputPassword1">Full Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full Name">
    </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll email you news.</small>
  </div>
  <button type="submit sub-btn" class="btn btn-primary">Subscribe</button>
</form>
</div>
<button  type="button" class="top" name="top"><a class="a-top-btn"href="#top-navbar"><i class="fas fa-angle-up"></a></i></button>
</div>
