<%-include('partials/header')-%>
<!-- Navbar -->
<%-include('partials/navbar')-%>
<!-- MAin Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-9 main-container">
      <hr>
      <h1><%=headings%></h1>
      <hr>
      <%  for(var i=0;i<20;i++){%>
      <div class="news-main">
        <img class="main-img" src=<%= news[i].urlToImage%> alt="not available">
        <h4><%=news[i].title%></h4>
        <p><%=news[i].content%>...<a href=<%=news[i].url%>>Read Full Article</a></p>
      </div>
      <hr />
      <%}%>
      <div class="foot">
        <div class="footer-content">
          <h2>NewsLite</h2>
          <p>A footer is an additional navigation method for websites. It can hold links, buttons, company info, copyrights, forms and many other elements.</p>
        </div>
        <div class="footer-link">
            <h3>APIs</h3>
            <li>
              <ul>
                <a href="https://newsapi.org/">News Api</a>
              </ul>
              <ul>
                <a href="https://www.npmjs.com/package/covid19-api">Covid19-Api</a>
              </ul>
              <ul>
                <a href="https://www.npmjs.com/package/stock-alert">stock-alert</a>
              </ul>
            </li>
        </div>
        <p class="copyright">© 2020 copyright: NewsLite</p>
      </div>
    </div>
    <%-include("partials/aside")-%>
  </div>

  </div>
  <%-include('partials/contact')-%>
<%-include('partials/footer')-%>
